<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DrakeBot - Staff</title>
    <link rel="icon" type="image/ico" href="/img/logo.ico" />
    <link rel="stylesheet" type="text/css" href="/css/staff-design.css"/>   

    <meta name="description" content="DrakeBot est un bot discord de Moderation, d'Administration et d'Economie.">
    <meta name="author" content="Rome">
</head>
<body>
    <div class="container">
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>Owner</h2>
              <h3> <%= owner.name %> </h3>
              <img src=<%= owner.avatar %>>
              <p></p>
              <a target="_blank" href=https://dsc.bio/romedev>Discord</a> 
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h2>Support</h2>
              <h3> <%= support[0].name %></h3>
              <img src=<%= support[0].avatar %>>
              <p></p>
              <a target="_blank" href=https://discord.com/users/<%= support[0].id %>>Discord</a>
            </div>
          </div>
        </div>
    </div>

    <div class = "footer">
        <%- include('includes/footer') %>
    </div> 
</body>
</html>